<!DOCTYPE html>
<html>
<head>
    <title>Apartment Price Predictor</title>
</head>
<body>
    <h1>Apartment Price Predictor</h1>
    <form method="POST">
        <label>Surface (m²):</label>
        <input type="number" name="surface" step="1" required><br><br>
        <label>Number of rooms:</label>
        <input type="number" name="rooms" required><br><br>
        <label>District:</label>
        <input type="text" name="district" required><br><br>
        <button type="submit">Predict Price</button>
    </form>

    {% if price is not none %}
    <p>Cena za {{ surface }} m², {{ rooms }} pokojowe mieszkanie w dzielnicy {{ district }} to: {{ price | round(2) }} zł</p>
    {% endif %}
</body>
</html>
